// PALETA DE COLORES
$bg:#240D2C;
$font: #553B5E;
$green:#C0F378;
$darkgreen: #8FC73F;
$pink:#FC7C62;
$darkpink: #D65E46;
$yellow:#ECE172;
$darkyellow: #C3B956;
$white:#F9F8F3;
$darkwhite: #CCC2CA;
$moon:#FFD555;

// VARIABLES


// ========================================================
// ========================================================
// ========================================================

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  height: 100vh;
  background: $bg;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  height: 7.5vh;
  line-height: 7.5vh;
  background: $darkwhite;
}

.title {
  color: $font;
  text-align: center;
  font-weight: 400;
}

// ========================================================
// ==========    universe
// ========================================================
.universe {
  max-width: 800px;
  height: 600px;
  margin: 5em auto;
}


// ========================================================
// ==========    STARS
// ========================================================
.stars,
.stars::before,
.stars::after {
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: $white;
}

.stars {
  background: transparent;
  box-shadow:
    90px 320px 0 $white,
    110px 500px 0 $white,
    140px 50px 0 $white,
    380px 430px 0 $white,
    470px 170px 0 $white,
    495px 400px 0 $white,
    550px 300px 0 $white,
    620px 590px 0 $white,
    760px 100px 0 $white;

  &::before {
    content: "";
    width: 5px;
    height: 5px;
    top: 270px;
    box-shadow: 
      15px -140px 0 $white,
      250px 90px 0 $white,
      300px -110px 0 $white,
      300px -110px 0 $white,
      530px 200px 0 $white,
      640px 60px 0 $white,
      650px -40px 0 $white,
      750px 150px 0 $white,
      795px -250px 0 $white;
  }

  &::after {
    content: "";
    width: 13px;
    height: 13px;
    top: 400px;
    left: 5px;
    box-shadow:
      230px -160px 0 $white,
      300px 150px 0 $white,
      340px -320px 0 $white,
      590px -360px 0 $white,
      660px 80px 0 $white,
      700px -220px 0 $white;
  }
}

// ========================================================
// ==========    MOON
// ========================================================

// ========================================================
// ==========    CLOUDS
// ========================================================

// ========================================================
// ==========    PLANETS
// ========================================================
[class^="planet-"] {
  position: absolute;
  border-radius: 50%;
}

.planet-1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background: $white;
  box-shadow:
    inset 15px -20px 0 0 $darkwhite;
}

.planet-2 {
  top: 300px;
  left: 50px;
  width: 140px;
  height: 140px;
  background: $green;
  box-shadow:
    inset 12px -5px 0 10px $darkgreen;
}

.planet-3 {
  top: 570px;
  left: 150px;
  width: 50px;
  height: 50px;
  background: $pink;
  box-shadow:
    inset 7px 0 0 1px $darkpink;
}

.planet-4 {
  top: 280px;
  left: 550px;
  width: 80px;
  height: 80px;
  background: $pink;
  box-shadow:
    inset 5px -5px 0 5px $darkpink;
}

.planet-5 {
  top: 500px;
  left: 600px;
  width: 100px;
  height: 100px;
  background: $yellow;
  box-shadow:
    inset 5px -5px 0 5px $darkyellow;
}
