// PALETA DE COLORES
$bg:#240D2C;
$font: #553B5E;
$green:#C0F378;
$darkgreen: #8FC73F;
$pink:#FC7C62;
$darkpink: #D65E46;
$yellow:#ECE172;
$darkyellow: #C3B956;
$white:#F9F8F3;
$darkwhite: #CCC2CA;
$moon:#FFD555;

// VARIABLES


// ========================================================
// ========================================================
// ========================================================

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: $bg;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  width: 100%;
  height: 7.5vh;
  line-height: 7.5vh;
  background: $darkwhite;
}

.title {
  color: $font;
  text-align: center;
  font-weight: 400;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92.5vh;

}
// ========================================================
// ==========    universe
// ========================================================
.universe {
  position: relative;
  width: 800px;
  height: 600px;
  background: $bg;
}

// ========================================================
// ==========    STARS
// ========================================================
.stars,
.stars::before,
.stars::after {
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: $white;
}

.stars {
  background: transparent;
  box-shadow:
    90px 320px 0 $white,
    110px 500px 0 $white,
    140px 50px 0 $white,
    380px 430px 0 $white,
    470px 170px 0 $white,
    495px 400px 0 $white,
    550px 300px 0 $white,
    620px 590px 0 $white,
    760px 100px 0 $white;

  &::before {
    content: "";
    width: 5px;
    height: 5px;
    top: 270px;
    box-shadow: 
      15px -140px 0 $white,
      250px 90px 0 $white,
      300px -110px 0 $white,
      300px -110px 0 $white,
      530px 200px 0 $white,
      640px 60px 0 $white,
      650px -40px 0 $white,
      750px 150px 0 $white,
      795px -250px 0 $white;
  }

  &::after {
    content: "";
    width: 13px;
    height: 13px;
    top: 400px;
    left: 5px;
    box-shadow:
      230px -160px 0 $white,
      300px 150px 0 $white,
      340px -320px 0 $white,
      590px -360px 0 $white,
      660px 80px 0 $white,
      700px -220px 0 $white;
  }
}

// ========================================================
// ==========    MOON
// ========================================================
// .moon {
//   position: absolute;
//   z-index: -100;
//   left: 60%;
//   width: 120px;
//   height: 120px;
//   border-radius: 50%;
//   background: $bg;
//   box-shadow: 
//     inset 15px -15px 0 5px $moon;
// }

// // ========================================================
// // ==========    CLOUDS
// // ========================================================
// [class^="cloud-"] {
//   position: absolute;
//   z-index: 100;
//   background: $white;
  
//   &::before,
//   &::after {
//     content: "";
//     position: absolute;
//     border-radius: 50%;
//     background: $white;
//   }

// }

// .cloud-1 {
//   top: 300px;
//   left: 400px;
//   width: 100px;
//   height: 40px;

//   &::before,
//   &::after {
//     width: 40px;
//     height: 40px;
//   }
//   &::before {
//     left: -20px;
//     box-shadow: 
//       20px -18px 0 2px $white,
//       65px -20px 0 20px $white;
//   }
//   &::after {
//     right: -20px;
//   }
// }

// .cloud-2 {
//   top: 230px;
//   left: 700px;
//   width: 80px;
//   height: 30px;

//   &::before,
//   &::after {
//     width: 30px;
//     height: 30px;
//   }
//   &::before {
//     left: -15px;
//     box-shadow: 
//       25px -15px 0 15px $white,
//       65px -15px 0 2px $white;
//   }
//   &::after {
//     right: -15px;
//   }
// }

// .cloud-3 {
//   top: 320px;
//   left: 830px;
//   width: 50px;
//   height: 20px;

//   &::before,
//   &::after {
//     width: 20px;
//     height: 20px;
//   }
//   &::before {
//     left: -10px;
//     box-shadow: 
//       10px -9px 0 1px $white,
//       32px -10px 0 10px $white;
//   }
//   &::after {
//     right: -10px;
//   }
// }
// // ========================================================
// // ==========    PLANETS
// // ========================================================
// [class^="planet-"] {
//   position: absolute;
//   border-radius: 50%;
  
//   &::before,
//   &::after {
//     content: "";
//     position: absolute;
//     border-radius: 50%;
//   }
// }

// .planet-1 {
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 200px;
//   height: 200px;
//   background: $white;
//   box-shadow:
//     inset 15px -20px 0 0 $darkwhite;
  
//   &::before {
//     top: 60%;
//     left: 25%;
//     width: 40px;
//     height: 40px;
//     background: darken($darkwhite,25);
//     box-shadow: 
//       inset -7px 7px 15px 0 rgba(0,0,0,.40);
//   }
//   &::after {
//     top: 15%;
//     left: 40%;
//     width: 50px;
//     height: 50px;
//     background: darken($darkwhite,25);
//     box-shadow: 
//       inset -7px 7px 15px 0 rgba(0,0,0,.40);
//   }

//   .crater {
//     position: absolute;
//     top: 55%;
//     left: 70%;
//     width: 20px;
//     height: 20px;
//     border-radius: 50%;
//     background: darken($darkwhite,25);
//     box-shadow: 
//       inset -5px 5px 8px 0 rgba(0,0,0,.3);

//   }
// }

// .planet-2 {
//   top: 300px;
//   left: 300px;
//   width: 140px;
//   height: 140px;
//   background: $green;
//   box-shadow:
//     inset 12px -5px 0 10px $darkgreen;
  
//   &::before {
//     top: 50%;
//     left: 25%;
//     width: 25px;
//     height: 25px;
//     background: $darkgreen;
//     box-shadow: 
//       inset -5px 5px 10px 0 rgba(0,0,0,.25);
//   }
//   &::after {
//     top: 25%;
//     left: 55%;
//     width: 50px;
//     height: 50px;
//     background: $darkgreen;
//     box-shadow: 
//       inset -7px 7px 10px 0 rgba(0,0,0,.25);
//   }
// }

// .planet-3 {
//   top: 550px;
//   left: 380px;
//   width: 50px;
//   height: 50px;
//   background: $pink;
//   box-shadow:
//     inset 7px 0 0 1px $darkpink;
  
//   &::before {
//     top: 30%;
//     left: 25%;
//     width: 10px;
//     height: 10px;
//     background: $darkpink;
//     box-shadow:
//       inset -2px 2px 5px 0 rgba(0,0,0,.25);
//   }
//   &::after {
//     top: 40%;
//     left: 55%;
//     width: 18px;
//     height: 18px;
//     background: $darkpink;
//     box-shadow:
//       inset -3px 3px 5px 0 rgba(0,0,0,.25);
//   }
// }

// .planet-4 {
//   top: 320px;
//   left: 770px;
//   width: 80px;
//   height: 80px;
//   background: $pink;
//   box-shadow:
//     inset 5px -5px 0 5px $darkpink;
  
//   &::before {
//     top: 30%;
//     left: 25%;
//     width: 15px;
//     height: 15px;
//     background: $darkpink;
//     box-shadow:
//       inset -3px 3px 5px 0 rgba(0,0,0,.25);
//   }
//   &::after {
//     top: 40%;
//     left: 55%;
//     width: 25px;
//     height: 25px;
//     background: $darkpink;
//     box-shadow:
//       inset -4px 4px 8px 0 rgba(0,0,0,.25);
//   }
// }

// .planet-5 {
//   top: 510px;
//   left: 800px;
//   width: 100px;
//   height: 100px;
//   background: $yellow;
//   box-shadow:
//     inset 5px -5px 0 5px $darkyellow;
  
//   &::before {
//     top: 50%;
//     left: 25%;
//     width: 18px;
//     height: 18px;
//     background: $darkyellow;
//     box-shadow: 
//       inset -5px 5px 10px 0 rgba(0,0,0,.25);
//   }
//   &::after {
//     top: 25%;
//     left: 55%;
//     width: 35px;
//     height: 35px;
//     background: $darkyellow;
//     box-shadow: 
//       inset -7px 7px 10px 0 rgba(0,0,0,.25);
//   }
// }

.test {
  background: red;
}
