// PALETA DE COLORES
$bg:#240D2C;
$font: #553B5E;
$green:#C0F378;
$darkgreen: darken($green,25);
$pink:#FC7C62;
$darkpink: darken($pink,25);
$yellow:#ECE172;
$darkyellow: darken($yellow,25);
$white:#F9F8F3;
$darkwhite: #CCC2CA;
$moon:#FFD555;

// VARIABLES


// ========================================================
// ========================================================
// ========================================================

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  height: 100vh;
  background: $bg;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  height: 7.5vh;
  line-height: 7.5vh;
  background: $darkwhite;
}

.title {
  color: $font;
  text-align: center;
  font-weight: 400;
}

// ========================================================
// ==========    universe
// ========================================================
.universe {
  max-width: 800px;
  height: 600px;
  // background: red;
  margin: 5em auto;
}


// ========================================================
// ==========    STARS
// ========================================================
.stars,
.stars::before,
.stars::after {
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: $white;
}

.stars {

  &::before {
    content: "";
    width: 5px;
    height: 5px;
    top: 270px;
    box-shadow: 
      15px -140px 0 $white,
      250px 90px 0 $white,
      300px -110px 0 $white,
      300px -110px 0 $white,
      520px 190px 0 $white,
      640px 60px 0 $white,
      650px -40px 0 $white,
      750px 150px 0 $white,
      795px -250px 0 $white;
  }

  &::after {
    content: "";
    width: 13px;
    height: 13px;
  }
}

// ========================================================
// ==========    MOON
// ========================================================

// ========================================================
// ==========    CLOUDS
// ========================================================

// ========================================================
// ==========    PLANETS
// ========================================================
.planet-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: $white;
}
