// PALETA DE COLORES
$bg:#240D2C;
$font: #553B5E;
$green:#C0F378;
$darkgreen: darken($green,25);
$pink:#FC7C62;
$darkpink: darken($pink,25);
$yellow:#ECE172;
$darkyellow: darken($yellow,25);
$white:#F9F8F3;
$darkwhite: #CCC2CA;
$moon:#FFD555;

// VARIABLES


// ========================================================
// ========================================================
// ========================================================

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: $bg;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  height: 7.5vh;
  line-height: 7.5vh;
  background: $darkwhite;
}

.title {
  color: $font;
  text-align: center;
  font-weight: 400;
}

// ========================================================
// ==========    STARS
// ========================================================

// ========================================================
// ==========    MOON
// ========================================================

// ========================================================
// ==========    CLOUDS
// ========================================================

// ========================================================
// ==========    PLANETS
// ========================================================
