doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title Planet
    link(rel="stylesheet", href="css/styles.css")
  body
    header.header
      h1.title P L A N E T
    .universe
      .stars
      .moon
      .cloud-1
      .cloud-2
      .cloud-3
      .planet-1
        .crater
      .planet-2
      .planet-3
      .planet-4
      .planet-5
